.titulo.titulo-integracion {
  display: inline-block;
}

.integracion {
  margin: 12.5rem 0;
  display: flex;
  column-gap: 10rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 120rem;
  .mer_libre,
  .mer_pago,
  .pedidos_ya,
  .bamboo,
  .openstreetmap,
  .google_maps {
    transform: translateY(100%);
    opacity: 0;
    transition: 0.9s all ease-in-out;
  }
  .pedidos_ya {
    border-radius: 60px;
  }
  .bamboo {
    height: 12.5rem;
    width: auto;
  }
  .openstreetmap {
    height: 19rem;
  }
  img {
    object-fit: cover;
    object-position: center;
    width: auto;
    height: 25rem;
  }
}

.true {
  .animacion_1,
  .animacion_2,
  .animacion_3,
  .animacion_4,
  .animacion_5,
  .animacion_6 {
    transform: translateY(0%);
    opacity: 1;
    transition: 0.9s all ease-in-out;
  }
  .animacion_2 {
    transition-delay: 0.5s;
  }
  .animacion_3 {
    transition-delay: 1s;
  }
  .animacion_4 {
    transition-delay: 1.5s;
  }
  .animacion_5 {
    transition-delay: 2s;
  }
  .animacion_6 {
    transition-delay: 2.5s;
  }
}

@media (max-width: 1100px) {
  .integracion {
    height: 90rem;
    img {
      height: 12.5rem;
    }
    .openstreetmap {
      height: 15rem;
    }
    .bamboo {
      height: 10rem;
    }
  }
}

@media (max-width: 620px) {
  .integracion {
    height: 70rem;
    column-gap: 3rem;
    margin: 10rem 0;
    img {
      height: 10rem;
    }
    .openstreetmap {
      height: 5rem;
    }
    .bamboo {
      height: 7rem;
    }
  }
}

@media (max-width: 420px) {
  .integracion {
    height: 40rem;
    column-gap: 2rem;
    margin: 6rem 0;
    img {
      height: 6rem;
    }
    .openstreetmap {
      height: 5rem;
    }
    .bamboo {
      height: 4rem;
    }
  }
}
