$fue-principal: "Be Vietnam Pro", sans-serif;
$col-primario: #595f64;
$col-secundario: #C1DCEB;

//compañera may

$BeVietnam: "Be Vietnam Pro", sans-serif;

// colors

$dark: #595f64; //text
$light: #c1dceb94;
$bg: #e5e5e5;