@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@600;700;800&display=swap");

$BeVietnam: "Be Vietnam Pro", sans-serif;

// colors

$dark: #595f64; //text
$light: #c1dceb94;
$bg: #e5e5e5;
