.menu-pro {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 10rem;
  row-gap: 10rem;
  margin-top: 12rem;
}

@media (max-width: 820px) {
  .menu-pro {
    column-gap: 7rem;
    row-gap: 5rem;
    img {
      width: 25rem;
    }
  }
}

@media (max-width: 620px) {
  .menu-pro {
    column-gap: 4rem;
    row-gap: 4rem;
    margin-top: 7rem;
    a {
      width: 40%;
    }
    img {
      width: 100%;
    }
  }
}
